/* google font link  */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common style  */

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* Header style  */

.top {
    background: #2D25A0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    padding-right: 140px;
}

.half_width {
    width: 40%;
    padding: 10px;
    margin-left: 70px;
}

.top_title h1 {
    color: white;
    font-size: 64px;
}

.top_button a {
    position: relative;
    text-decoration: none;
    background: #E02C6D;
    padding: 10px 24px;
    color: white;
}

.top_button a:hover .fas {
    transform: translatex(10px);
}

.fas {
    width: 24px;
    height: 24px;
    color: white;
    padding-left: 2px;
    text-align: center;
    transition: transform 0.9s;
}

.top_image img {
    width: 556.01px;
    height: 438px;
    /* width: 100%; */
}


/* players section style  */

main {
    background: #FFFFFF;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    padding: 70px 210px 165px 160px;
}

.player {
    width: 330px;
    height: 484px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player img {
    width: 300px;
    height: 256px;
    padding: 15px 15px 0 15px;
}

.player_discription {
    padding: 0 15px;
}

.player_discription h2 {
    color: #18191F;
}

.player_discription p {
    font-size: 16px;
    color: #6C6C6C;
}


/* highlight section style  */

.highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 156px;
    margin-bottom: 140px;
}

.highlight_about {
    margin-left: 100px;
}

.highlight_about h1 {
    font-size: 48px;
}

.highlight_about p {
    color: #6C6C6C;
}

.highlight_button {
    margin-top: 24px;
}

.highlight_about a {
    text-decoration: none;
    background: #E02C6D;
    padding: 10px 24px;
    color: white;
    transition: transform 2s;
}

.highlight_about a:hover .fas {
    transform: translateX(10px);
}

.highlight_image img {
    /* width: 100%; */
    width: 567px;
    height: 427px;
}


/* footer style */

.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 63px;
}

.footer_logo img {
    width: 483.87px;
    height: 110px;
}

.social_icons img {
    width: 32px;
    height: 32px;
    margin: 0px 10px;
}


/* media quarey for mobile  */

@media only screen and (max-width: 688px) {
    .top {
        background: #2D25A0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 695px;
        flex-direction: column;
    }
    .half_width {
        width: 100%;
        padding: 10px;
        margin-left: 100px;
    }
    .top_title h1 {
        color: white;
        font-size: 36px;
    }
    .top_image {
        margin-top: 50px;
    }
    .top_image img {
        width: 329px;
        height: 259.17px;
        /* width: 100%; */
    }
    /* player style section  */
    .players {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding: 47px 210px 65px 40px;
    }
    .player {
        width: 330px;
        height: 484px;
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    }
    .player img {
        width: 300px;
        height: 256px;
        padding: 15px 15px 0 15px;
    }
    .player_discription {
        padding: 0 15px;
    }
    .player_discription h2 {
        color: #18191F;
    }
    .player_discription p {
        font-size: 16px;
        color: #6C6C6C;
    }
    /* highlight section style  */
    .highlight {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 100px;
        margin-bottom: 80px;
    }
    .highlight_about h1 {
        font-size: 30px;
    }
    .highlight_button {
        margin-bottom: 20px;
    }
    .highlight_image img {
        /* width: 100%; */
        width: 328px;
        height: 248px;
    }
    /* footer style */
    .footer_container {
        margin-bottom: 63px;
    }
    .footer_logo img {
        width: 270px;
        height: 100px;
    }
}